<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysiteforme.admin.dao.CourseDao">
<resultMap type="com.mysiteforme.admin.entity.Course" id="CourseMap">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="code" column="code"/>
    <result property="status" column="status"/>
    <result property="note" column="note"/>
</resultMap>
<select id="selectCourseByMap" resultMap="CourseMap"  parameterType="java.util.Map">
       select * from course where id=#{id}
    </select>

<update id="updataCourseById" parameterType="com.mysiteforme.admin.entity.Course" >
update course
<set>
    <if test="name!=null">
        name=#{name},
    </if>
    <if test="code!=null">
        code=#{code},
    </if>
    <if test="note!=null">
        note=#{note},
    </if>
    <if test="status!=null">
        status=#{status},
    </if>
</set>
where id=#{id}
</update>
<delete id="deleteCourseById" parameterType="java.util.Map">
        delete from course where id=#{id}
    </delete>
</mapper>