<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysiteforme.admin.dao.EtaskDao">
    <!-- 这儿定义一个resultMap -->
    <resultMap type="com.mysiteforme.admin.entity.Etask" id="EtaskMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="status" column="status"/>
        <result property="flag" column="flag"/>
        <result property="startData" column="start_data"/>
        <result property="endData" column="end_data"/>
        <result property="createuserId" column="createuser_id"/>
        <collection property="users"  ofType="com.mysiteforme.admin.entity.User">
            <result property="id" column="id"/>
            <result property="nickName" column="nick_name"/>
        </collection>
    </resultMap>
    <select id="selectEtaskByMap" resultMap="EtaskMap"  parameterType="java.util.Map">
       select * from etask where id=#{id}
    </select>

    <update id="updataEtaskById" parameterType="com.mysiteforme.admin.entity.Etask" >
        update etask
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
        </set>
        where id=#{id}
    </update>
    <update id="deleteEtaskById" parameterType="java.util.Map">
        update  etask set flag=0 where id=#{id}
    </update>
    <update id="openEtaskById" parameterType="com.mysiteforme.admin.entity.Etask" >
        update etask set status=1  where id=#{id}
    </update>
    <!--结束删除-->
    <update id="endEtaskById" parameterType="com.mysiteforme.admin.entity.Etask" >
        update etask set status=3  where id=#{id}
    </update>
    <update id="closeEtaskById" parameterType="com.mysiteforme.admin.entity.Etask" >
        update etask set status=3  where id=#{id}
    </update>
    <update id="suspendEtaskById" parameterType="com.mysiteforme.admin.entity.Etask" >
        update etask set status=2  where id=#{id}
    </update>

</mapper>